.profile-menu-box {
  background: #ffffff;
  box-shadow: 0px 4px 40px rgb(0 0 0 / 19%);
  border-radius: 4px;
  width: 374px;
  position: absolute;
  right: 0;
  // top: 46px;
  padding: 12px;
  text-align: left;

  ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style-type: none;
    padding: unset;

    li {
      margin-left: 0;
      padding: 10px;

      a {
        color: #52575c;

        img {
          margin-right: 12px;
        }
      }

      a:hover {
        color: #046eef;
      }
    }
  }

  .user-detail-profile {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #dbdde0;
    padding-bottom: 8px;
    margin-bottom: 12px;

    .sort-name {
      background: #f5f8fe;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.1px;
      color: #2e7be6;
      border-radius: 50px;
      margin-right: 12px;
    }

    .user-des {
      h6 {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.2px;
        color: #25282b;
        margin-top: 0;
        margin-bottom: 4px;
      }

      p {
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.2px;
        color: #25282b;
        margin-top: 0;
        margin-bottom: 4px;
      }

      label {
        font-weight: 300;
        font-size: 11px;
        line-height: 14px;
        letter-spacing: 0.2px;
        color: #a0a4a8;
        display: block;
        margin-bottom: 4px;
      }
    }
  }
}
