.empty-error {
  display: flex;
  align-items: center;
  justify-content: center;

  h4 {
    font-weight: 500;
    font-size: 26px;
    line-height: 42px;
    align-items: center;
    letter-spacing: 0.1px;
  }
}
