.payment-intro {
  background: linear-gradient(
    90.16deg,
    #2e7be6 0%,
    #4cf0c7 74.9%,
    #d3e755 99.86%
  );
  border-radius: 6px;
  overflow: hidden;
  margin-top: 20px;
}

.payment-intro .heading-title {
  padding: 16px 24px;
  margin-bottom: 0;
  // background: url(../../images/card-img.svg) right center no-repeat;
}

.payment-intro .heading-title h2 {
  margin-top: 0;
  color: #fff;
  margin-bottom: 4px;
}

.payment-intro .heading-title p {
  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
}

.payment-intro .payment-process {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(90.16deg, #2e7be6 0%, #4cf0c7 74.9%, #d3e755 99.86%);
  padding: 12px 24px;
}

.payment-intro .payment-process ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.payment-intro .payment-process ul li {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.payment-intro .payment-process ul li img {
  margin-right: 4px;
}

.intro-button {
  margin-top: 40px;
}

.intro-button img {
  vertical-align: middle;
}
