.bulk-history-container {
  .heading-title {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;

    .secondry-button {
      margin-top: 24px;
      padding: 5px 20px;
      background: none;

      img {
        vertical-align: middle;
      }
    }

    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #000000;
      margin-top: 24px;
      margin-bottom: 8px;
    }
  }

  .download-bt {
    background: none;
    padding: 0;
  }

  .hidden {
    visibility: hidden;
  }
  .daterange-field {
    width: 292px;
  }
}

.arrow-bt {
  margin-left: 0 !important;
  padding-right: 0;
    img {
    margin-right: 0 !important;
}
}
