.notificationBox {
    background: #fff;
    width: 350px;
    max-height: 400px;
    overflow: auto;
    border-radius: 8px;
    .notification-list {
      margin: 0;
      padding: 0;
      list-style: none;
      align-items: flex-start;
      flex-direction: column;
      li {
        margin-left: 0 !important;
        width: 100%;
        clear: both;
        float: left;
        padding: 10px 15px;
        border-bottom: 1px solid #eee;
        margin-bottom: 0;
        text-align: left !important;
        .dropdown {
          float: right;
        }
        a {
          text-transform: none;
          font-weight: 400;
          display: flex;
          float: left;
          width: 100%;
        }
      }
      .friend_list_profile {
        background: rgb(220, 220, 220) none repeat scroll 0 0;
        border-radius: 50%;
        display: inline-block;
        height: 36px;
        overflow: hidden;
        position: relative;
        vertical-align: top;
        width: 36px;
        z-index: 9;
        span {
          display: table-cell;
          height: 36px;
          vertical-align: middle;
          width: 36px;
          img {
            height: auto;
            width: 100%;
          }
        }
      }
      .friend_list_des {
        margin-left: 10px;
        vertical-align: middle;
        width: 80%;
        position: relative;
        padding-right: 40px;
        float: right;
        h6 {
          color: #424242;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          margin-bottom: 0;
          margin-top: 0;
        }
        p {
          color: #9e9e9e;
          font-size: 12px;
          margin-bottom: 0;
          line-height: 18px;
          font-weight: 400;
          margin-top: 0;
        }
      }
      .chat_date {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 12px;
        color: #9e9e9e;
      }
      .time_section {
        display: inline-block;
        width: 17%;
        vertical-align: top;
      }
    }
  }