.create-sbscription {
  padding: 0 20px;
  .create-plan-box {
    border-bottom: 1px solid #dbdde0;
    margin-bottom: 40px;

    h5 {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1px;
      color: #52575c;
      margin-top: 0;
      margin-bottom: 24px;
    }

    .filter-dropdown {
      width: 100%;
      margin-right: 0;
      margin-bottom: 0;
    }

    .quantity {
      display: flex;
    }

    .quantity .value-box {
      letter-spacing: 0.1px;
      color: #25282b;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      padding: 0 15px;
    }

    .quantity .secondry-button {
      min-width: 42px;
      width: 42px;
      height: 42px;
    }

    .quantity .secondry-button.dissable {
      background: #e8e8e8;
      border: 1px solid #dbdde0;
      box-sizing: border-box;
      border-radius: 8px;
      letter-spacing: 0.1px;
      color: #a0a4a8;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
    }

    .check-box label {
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.1px;
      color: #52575c;
      margin-top: 15px;
      margin-bottom: 10px;
    }

    .check-box input + label .check-box-icon {
      margin-right: 10px;
    }

    .column-two {
      display: flex;
      justify-content: space-between;
    }

    .column-two label {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.2px;
      color: #a0a4a8;
      display: block;
      margin-bottom: 6px;
    }

    .column-two .col {
      width: 186px;
    }
  }

  .addon-row {
    padding-bottom: 30px;
  }

  .addon-row .secondry-button img {
    vertical-align: middle;
  }

  .addon-row .addon-list {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .addon-row .addon-list .filter-dropdown {
    width: 160px;
    margin-right: 16px;
  }

  .adon-col input.form-control {
    width: 80px;
    height: 42px;
  }

  .adon-col label {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #a0a4a8;
    display: block;
    margin-bottom: 6px;
    display: block;
  }

  .adon-col .addon-value {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #52575c;
    margin-left: 16px;
    margin-top: 20px;
  }

  .adon-col button {
    margin: 0;
    padding: 0;
    background: none;
    margin-left: 16px;
    margin-top: 22px;
  }

  .action-button {
    .primary-button {
      margin-left: unset;
    }
  }
}
