.custom-popper {
  padding-top: 0px;
  .ant-popover-arrow {
    display: none;
  }
  .ant-popover-inner {
    background: #ffffff;
    box-shadow: 0px 0px 8px rgb(37 40 43 / 12%);
    border-radius: 8px;
    text-align: left;
    padding: 5px 0;
    .ant-popover-inner-content {
      padding: unset;
      .dropdown-item {
        padding: 8px 16px;
        display: block;
        color: #52575c;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}
