.confirmation-modal {
  .modal-dialog {
    width: 394px;
    h3 {
      margin-bottom: 6px;
    }
    p {
      margin-bottom: 16px;
      margin-top: 14px;
    }
  }
  .primary-button {
    margin-left: 15px;
  }
}
