.navbar {
  border: none;
  border-radius: 0;
  margin: -15px;
  margin-bottom: 20px;
  border-top: none;
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: initial;
  position: fixed;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 999;
  height: 90px;
  margin: 0;
  width: calc(100% - 270px);
  margin-left: 272px;
  background: #f9f9f9;
  border-bottom: #e1e3e9 solid 1px;
  box-shadow: 0 1px 0 #fff;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.navbar-collapsed {
  width: calc(100% - 80px);
  margin-left: 80px;
}

.is-collapsed .navbar {
  width: calc(100% - 68px);
  position: fixed;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 999;
  height: 90px;
  top: 15px;
}

.top-right {
  padding-right: 32px;

  .header-blue-button {
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #2e7be6;
    padding: unset;
  }
  .all-merchant-button-wrapper {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    .divider {
      width: 1px;
      height: 24px;
      background: #e1e4e9;
      margin-right: 16px;
      margin-left: 16px;
    }

    .back-arrow-blue {
      margin-right: 5px;
    }

    li {
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.1px;
      color: #a0a4a8;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .merchant-name {
        max-width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      span {
        display: flex;
        align-items: flex-end;
      }
      .ant-badge-multiple-words {
        padding: 0px 4px;
      }
      .user-profile {
        background: radial-gradient(
          101.99% 106.25% at 23.44% 23.44%,
          #2e7be6 0%,
          #4cf0c7 53.27%,
          #66eeb1 58.31%,
          #8dec90 67.14%,
          #abea76 75.88%,
          #c1e864 84.39%,
          #cfe759 92.55%,
          #d3e755 100%
        );
        box-shadow: 0px 4px 8px #e1e5ec;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: 600;
        color: white;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.1px;
        border-radius: 50px;
      }

      .notification-icon {
        cursor: pointer;
        width: 28px;
        height: 28px;
      }

      .user-name {
        text-align: center;
        height: 17px;
        left: 1302px;
        top: 31px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #282c44;
        // cursor: pointer;
      }

      img {
        vertical-align: middle;
        margin-right: 8px;
        cursor: pointer;
      }

      .dropdown {
        position: relative;
        cursor: pointer;
      }

      .popper-navbar {
        display: flex;
        cursor: pointer;
      }
    }
  }
}

.top-right-max-width {
  max-width: 50%;
}

@media screen and (max-width: 1250px) {
  .top-right-max-width {
    max-width: 70%;
  }
}
