.settings {
  .white-box-content {
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    padding: 25px;
    margin-bottom: 20px;
  }

  .white-box-content h5 {
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 4px;
  }

  .white-box-content p.subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #52575c;
    margin-top: 0;
    margin-bottom: 16px;
  }
  .devide {
    width: 100%;
    border-bottom: #dbdde0 solid 1px;
    margin-bottom: 30px;
  }
  .general-settings {
    .form-group {
      width: 70%;
    }
    .primary-button {
      margin-left: unset;
    }
  }
  .credentials {
    .credentials-row {
      margin-bottom: 24px;
      display: flex;
      border-bottom: 1px solid #dbdde0;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 24px;
      .secondry-button {
        margin-left: 24px;
        margin-right: 0;
      }
    }

    .credentials-row:last-child {
      border: none;
    }
    .credentials {
      font-weight: normal;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.2px;
      color: #000000;
      label {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #52575c;
        display: block;
        margin-top: 4px;
      }
    }
  }
  .webhook-settings {
    .form-control {
      width: 70%;
    }
    .primary-button {
      margin-left: unset;
    }
    h4 {
      font-weight: 600;
    }
    h5 {
      font-weight: 600;
    }
  }
  .customizations {
    > .customizations-toggle {
      font-size: 14px;
      line-height: 22px;
      gap: 7px;
    }

    .payout-controls {
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
      > .secondry-button {
        padding: 5px 20px;
        background: none;
      }

      > .focus-button,
      .secondry-button:hover {
        background: #2e7be6;
        color: #ffffff;
      }
    }
    .remitter-list-container {
      margin-top: 25px;
    }

    .horizontal-divider {
      height: 1px;
      background: #dbdde0;
      border: none;
      margin-bottom: 12px;
    }
  }
}

.edit-secret-key-modal {
  .filter-row {
    align-items: center;
    margin-bottom: 45px;
    display: flex;
    label {
      width: 220px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0.1px;
      color: #a0a4a8;
    }
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #52575c;
    margin-top: 0;
    margin-bottom: 45px;
  }
}
