.react-tel-input .flag-dropdown {
  background-color: white;
  border: 1px solid #ebecef;
}

.react-tel-input .selected-flag {
  width: 70px;
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-around;
  padding-right: 15px;
}
