.error-component {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon-wrapper {
    background: #f146501a;
    border-radius: 50%;
    padding: 6px 7px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .success-icon-wrapper {
    width: 24px;
    height: 24px;
    background: #92ec8c1a;
  }
  .text-message {
    font-family: 'Indivisible Regular';
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    text-align: left;
    opacity: 0.9;
  }
  .error-color {
    color: #f0313c;
  }
  .success-color {
    color: #37BA2F;
  }
}
