.filter-row-component {
  display: flex;
  align-items: center;
  margin: 24px 0;
  .filter-row-component-button {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    color: #2e7be6;
    margin-left: 18px;
    background: none;

    img {
      margin-right: 6px;
    }
  }
}

.filter-by {
  flex: 2;
}
